<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./../../../tests/Functional/bootstrap.php"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix=".php">./Tests</directory>
      <directory suffix=".php">./Components/API</directory>
      <directory suffix=".php">./vendor</directory>
    </exclude>
    <report>
      <clover outputFile="./coverage.xml"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
  <testsuite name="MultiSafepay Test Suite">
    <directory>./Tests</directory>
  </testsuite>
</phpunit>
