<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">MultiSafepay</label>

    <version>2.5.0</version>
    <copyright>(c) MultiSafepay 2020</copyright>
    <author>MultiSafepay</author>
    <link>https://www.multisafepay.com</link>

    <compatibility minVersion="5.5.7"/>
</plugin>
