<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">MultiSafepay</label>
    <label lang="de">MultiSafepay</label>

    <version>2.8.3</version>
    <copyright>(c) MultiSafepay</copyright>
    <license>proprietary</license>
    <link>https://www.multisafepay.com</link>
    <author>MultiSafepay</author>
    <compatibility minVersion="5.5.7"/>

    <description lang="en"><![CDATA[
        <b>MultiSafepay</b>
        <p>Easily integrate MultiSafepay payment solutions into your Shopware 5 webshop with the free and completely new MultiSafepay Shopware 5 plugin.</p>
        <a href="https://docs.multisafepay.com/integrations/plugins/shopware5/">Plugin Documentation</a>
        ]]>
    </description>
    <description lang="de"><![CDATA[
        <b>MultiSafepay</b>
        <p>Integrieren Sie mit dem kostenlosen und völlig neuen MultiSafepay Shopware 5 Plugin ganz einfach MultiSafepay Zahlungslösungen in Ihren Shopware 5 Webshop.</p>
        <a href="https://docs.multisafepay.com/integrations/plugins/shopware5/">Plugin Dokumentation</a>
        ]]>
    </description>

    <changelog version="2.8.3">
        <changes lang="en"><![CDATA[
            - PLGSHPS-219: Fix payment link not created for backend orders
        ]]></changes>
        <changes lang="de"><![CDATA[
            - PLGSHPS-219: Fix payment link not created for backend orders
        ]]></changes>
    </changelog>

    <changelog version="2.8.2">
        <changes lang="en"><![CDATA[
            - PLGSHPS-217: Fix fatal error getArrayCopy on success page
        ]]></changes>
        <changes lang="de"><![CDATA[
            - PLGSHPS-217: Fix fatal error getArrayCopy on success page
        ]]></changes>
    </changelog>

    <changelog version="2.8.1">
        <changes lang="en"><![CDATA[
            - PLGSHPS-212: Fix missing payment link for backend orders, when device type is set
            - PLGSHPS-213: Fix orders are not created when state is not available in customer request
            - PLGSHPS-216: Fix bug when double orders are being created
        ]]></changes>
        <changes lang="de"><![CDATA[
            - PLGSHPS-212: Fix missing payment link for backend orders, when device type is set
            - PLGSHPS-213: Fix orders are not created when state is not available in customer request
            - PLGSHPS-216: Fix bug when double orders are being created
        ]]></changes>
    </changelog>

    <changelog version="2.8.0">
        <changes lang="en"><![CDATA[
            - DAVAMS-240: Add in3 payment method
            - PLGSHPS-175: Add support for paymentlinks with backend orders
        ]]></changes>
        <changes lang="de"><![CDATA[
            - DAVAMS-240: Add in3 payment method
            - PLGSHPS-175: Add support for paymentlinks with backend orders
        ]]></changes>
    </changelog>

    <changelog version="2.7.0">
        <changes lang="en"><![CDATA[
            - SUPD-746: Add Good4fun Giftcard
            - PLGSHPS-202: Resolve error when saving order in backend
            - DAVAMS-349: Update Trustly logo
        ]]></changes>
        <changes lang="de"><![CDATA[
            - SUPD-746: Add Good4fun Giftcard
            - PLGSHPS-202: Resolve error when saving order in backend
            - DAVAMS-349: Update Trustly logo
        ]]></changes>
    </changelog>

    <changelog version="2.6.0">
        <changes lang="en"><![CDATA[
            - Add generic gateway which can be used for branded giftcards
            - Remove 'Mark order as shipped' button in backend
            - DAVAMS-318: Rebrand Klarna to Klarna - buy now, pay later
            - Order is marked as shipped at MultiSafepay when order status is changed to Completely delivered
        ]]></changes>
        <changes lang="de"><![CDATA[
            - Add generic gateway which can be used for branded giftcards
            - Remove 'Mark order as shipped' button in backend
            - DAVAMS-318: Rebrand Klarna to Klarna - buy now, pay later
            - Order is marked as shipped at MultiSafepay when order status is changed to Completely delivered
        ]]></changes>
    </changelog>

    <changelog version="2.5.0">
        <changes lang="en"><![CDATA[
            - DAVAMS-274: Add CBC payment method
            - Add support for tax free products
            - PLGSHPS-198: Fix shipping costs tax rounding issue
            - DAVAMS-301: Rebrand Direct Bank Transfer to Request to Pay
        ]]></changes>
        <changes lang="de"><![CDATA[
            - DAVAMS-274: Add CBC payment method
            - Add support for tax free products
            - PLGSHPS-198: Fix shipping costs tax rounding issue
            - DAVAMS-301: Rebrand Direct Bank Transfer to Request to Pay
        ]]></changes>
    </changelog>

</plugin>
