<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="boolean" scope="shop">
            <name>msp_environment</name>
            <label lang="en">Live transactions</label>
        </element>

        <element required="true" type="text" scope="shop">
            <name>msp_api_key</name>
            <label lang="en">API Key</label>
            <description lang="en">Enter your API Key which can be found in your MultiSafepay account.</description>
        </element>

        <element required="false" type="number" scope="shop">
            <name>msp_time_active</name>
            <label lang="en">Time active</label>
            <value>30</value>
            <description lang="en">Time an order stays active</description>
        </element>

        <element type="select" scope="shop">
            <name>msp_time_label</name>
            <label lang="en"></label>
            <value>1</value>
            <store>
                <option>
                    <value>1</value>
                    <label lang="en">Days</label>
                </option>
                <option>
                    <value>2</value>
                    <label lang="en">Hours</label>
                </option>
                <option>
                    <value>3</value>
                    <label lang="en">Seconds</label>
                </option>
            </store>
        </element>

        <element required="false" type="text" scope="shop">
            <name>msp_quote_prefix</name>
            <label lang="en">Quote number prefix</label>
            <description lang="en">Prepend quote number with entered text</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>msp_quote_suffix</name>
            <label lang="en">Quote number suffix</label>
            <description lang="en">Append quote number with entered text</description>
        </element>

        <element required="false" type="boolean" scope="shop">
            <name>msp_update_shipped_active</name>
            <label lang="en">Update order status when shipped</label>
            <value>true</value>
            <description lang="en">Update the order status automatically when order has been set to shipped</description>
        </element>
        <element required="false" type="combo" scope="shop">
            <name>msp_update_shipped</name>
            <label lang="en"/>
            <value>5</value><!-- Status::ORDER_STATE_READY_FOR_DELIVERY -->
            <store>Shopware.apps.Base.store.OrderStatus</store>
        </element>

        <element required="false" type="boolean" scope="shop">
            <name>msp_update_refund_active</name>
            <label lang="en">Update payment status when order is refunded</label>
            <value>true</value>
            <description lang="en">Update the payment status automatically when order has been refunded</description>
        </element>
        <element required="false" type="combo" scope="shop">
            <name>msp_update_refund</name>
            <label lang="en"/>
            <value>32</value> <!-- Status::PAYMENT_STATE_THE_CREDIT_HAS_BEEN_ACCEPTED -->
            <store>Shopware.apps.Base.store.PaymentStatus</store>
        </element>

        <element required="false" type="combo" scope="shop">
            <name>msp_update_completed</name>
            <label lang="en">Status completed</label>
            <value>12</value> <!-- Status::PAYMENT_STATE_COMPLETELY_PAID -->
            <store>Shopware.apps.Base.store.PaymentStatus</store>
        </element>

        <element required="false" type="combo" scope="shop">
            <name>msp_update_declined</name>
            <label lang="en">Status declined</label>
            <value>35</value> <!-- Status::PAYMENT_STATE_THE_PROCESS_HAS_BEEN_CANCELLED -->
            <store>Shopware.apps.Base.store.PaymentStatus</store>
        </element>

        <element required="false" type="combo" scope="shop">
            <name>msp_update_cancelled</name>
            <label lang="en">Status cancelled</label>
            <value>35</value> <!-- Status::PAYMENT_STATE_THE_PROCESS_HAS_BEEN_CANCELLED -->
            <store>Shopware.apps.Base.store.PaymentStatus</store>
        </element>

        <element required="false" type="combo" scope="shop">
            <name>msp_update_expired</name>
            <label lang="en">Status expired</label>
            <value>35</value> <!-- Status::PAYMENT_STATE_THE_PROCESS_HAS_BEEN_CANCELLED -->
            <store>Shopware.apps.Base.store.PaymentStatus</store>
        </element>

        <element required="false" type="combo" scope="shop">
            <name>msp_update_uncleared</name>
            <label lang="en">Status uncleared</label>
            <value>18</value> <!-- Status::PAYMENT_STATE_RESERVED -->
            <store>Shopware.apps.Base.store.PaymentStatus</store>
        </element>

        <element required="false" type="combo" scope="shop">
            <name>msp_update_chargedback</name>
            <label lang="en">Status chargedback</label>
            <value>35</value> <!-- Status::PAYMENT_STATE_THE_PROCESS_HAS_BEEN_CANCELLED -->
            <store>Shopware.apps.Base.store.PaymentStatus</store>
        </element>

    </elements>
</config>
